src/*.exe
src/etscoin
src/etscoind
src/test_etscoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.etscoin
nbproject/
# Compilation and Qt preprocessor part
*.qm
Makefile
etscoin-qt
Etscoin-Qt.app

# Unit-tests
Makefile.test
etscoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
